.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
	background: url(../img/bg.jpg) center 0 no-repeat #FFFFFF;
}

.unvisible {
	visibility: hidden !important;
}

.container._custom {
	max-width: 992px;
}

.header-bg {
	background: url(../img/header.jpg) no-repeat center 0 transparent;
	width: 962px;
	height: 230px;
	margin: 20px auto;
	box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background-size: cover;
}

.group-item {
	text-align: center;
	background: #FFF;
	border: 1px solid #ccc;
	display: block;
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
	margin-bottom: 30px;
}
.group-item:hover,
.group-item:active {
	background: #ccc;
}

.no-mar-bot {
	margin-bottom: 0 !important;
}

.event-scheme {
	background: #FFF;
	display: block;
}
.event-scheme__place {
	cursor: pointer;
	stroke-width: 0;
}
.event-scheme__place._checked {
	stroke: #cc0000;
	stroke-width: 2;
}
.event-scheme__place._busy {
	stroke-width: 1;
	stroke: #b3b3b3;
	fill: #fff;
	cursor: default;
}
.event-scheme__place-num {
	font-size: 12px;
	color: #000;
	font-weight: bold;
	text-anchor: start;
	pointer-events: none;
	dominant-baseline: text-before-edge;
}
.event-scheme__place-label {
	font-size: 12px;
	color: #000;
	text-anchor: start;
	dominant-baseline: text-before-edge;
	font-weight: bold;
}

.map {
	height: 400px;
	width: 100%;
	display: block;
}

.footer {
	height: 100px;
}
