<h1>Настройки профиля</h1>
<div class="panel panel-default">
	<div class="panel-body">
		<form ng-submit="">
			<div class="form-group">
				<label for="email">Новый адрес почты</label>
				<input id="email" type="email" class="form-control">
			</div>
			<div class="form-group">
				<label for="pass">Новый пароль</label>
				<input id="pass" type="password" class="form-control">
			</div>
			<div class="form-group">
				<label for="passconf">Повторите новый пароль</label>
				<input id="passconf" type="password" class="form-control">
			</div>
			<div class="form-group">
				<input type="submit" value="Сохранить" class="btn btn-primary">
			</div>
		</form>
	</div>
</div>