<h1>Платежи</h1>

<div class="form-group">
	<a ui-sref="groups" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Назад к списку категорий</a>
</div>

<div class="row">
	<div class="col-xs-4" ng-repeat="item in groupItems">
		<a ui-sref="payment.fill({ groupItemId: $index})" class="group-item">			
			<img ng-src="{{item.img}}" alt="{{item.name}}">
			<p class="no-mar-bot">{{item.name}}</p>
		</a>
	</div>
</div>