<h1>Платежи</h1>

<div class="row">
	<div class="col-xs-4" ng-repeat="item in groups">
		<a ui-sref="groups.items({ groupId: $index})" class="group-item">
			<p>{{item.name}}</p>
			<img ng-src="{{item.img}}" alt="{{item.name}}">
		</a>
	</div>
</div>
