<div class="row sidebar-item">
	<div class="profile col-xs-12">
		<h3>Профиль</h3>

		<ul>
			<li><a ui-sref="profile.settings">Настройки</a></li>
			<li><a href="#">История покупок</a></li>
		</ul>
	</div>	
</div>

<div class="row sidebar-item">
	<div class="profile col-xs-12">
		<div ng-if="currStateName == 'ticketChoose'">
			<h4>Заказанные билеты</h4>
			<table class="table">
				<tr>
					<th>№</th>
					<th>Сектор</th>
					<th>Цена, p</th>
				</tr>
				<tr ng-repeat="checkedPlace in checkedPlaces">
					<td>{{$index + 1}}</td>
					<td>{{checkedPlace.section}}</td>
					<td>{{checkedPlace.cost}}</td>
				</tr>
			</table>

			<p><strong>Итого:</strong> {{checkedGetTotal()}} руб.</p>
		</div>
	</div>
</div>