<h1>{{areaItem.title}}</h1>

<div class="form-group">
	<a ui-sref="areaList" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Назад к списку площадок</a>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-6">
				<p><img class="img-responsive" ng-src="{{areaItem.img}}" alt="{{areaItem.title}}"></p>
			</div>
			<div class="col-xs-6">
				<p><strong><span class="glyphicon glyphicon-map-marker"></span>Адрес:</strong> {{areaItem.address}}</p>
				<p><strong><span class="glyphicon glyphicon-earphone"></span>Телефон:</strong> {{areaItem.phone}}</p>

				<a ui-sref="eventList({areaId: areaItem.id})" class="btn btn-primary btn-block">Мероприятия площадки <span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>{{areaItem.desc}}</p>
			</div>			
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ya-map ya-zoom="16" ya-center="{{areaItem.coords}}" ya-after-init="balloonOpen($target)" ya-behaviors="default -scrollZoom" class="map"></ya-map>
			</div>
		</div>
	</div>	
</div>