<h1>Площадки</h1>

<div class="thumbnail" ng-repeat="area in areas">
	<div class="row">
		<div class="col-xs-4">
			<a ui-sref="areaList.item({areaId: area.id})">
				<img ng-src="{{area.img}}" alt="area.title">
			</a>
		</div>
		<div class="col-xs-8">
			<h2><a ui-sref="areaList.item({areaId: area.id})">{{area.title}}</a></h2>
			<p><strong><span class="glyphicon glyphicon-map-marker"></span>Адрес:</strong> {{area.address}}</p>
			<p><strong><span class="glyphicon glyphicon-earphone"></span>Телефон:</strong> {{area.phone}}</p>
		</div>
	</div>
</div>