<h1>Афиша</h1>

<div class="row">
	<div class="col-xs-12">
		<nav class="navbar navbar-default">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a ui-sref="eventList({typeId: 'all'})">Все</a></li>
					<li><a ui-sref="eventList({typeId: 0})">Театр</a></li>
					<li><a ui-sref="eventList({typeId: 1})">Концерты</a></li>
				</ul>				
			</div><!-- /.navbar-collapse -->			
		</nav>
	</div>
</div>

<div class="row">
	<div class="col-xs-4" ng-repeat="event in events">
		<a ui-sref="eventList.item({eventId: event.id})" class="group-item">
			<p>{{event.title}}</p>
			<img class="img-responsive" ng-src="{{event.img}}" alt="{{event.title}}">
		</a>
	</div>
</div>
