<h1>{{eventItem.title}}</h1>

<div class="form-group">
	<a ui-sref="eventList" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Назад к списку мероприятий</a>
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-xs-4">
				<p><img class="img-responsive" ng-src="{{eventItem.img}}" alt="{{eventItem.title}}"></p>
			</div>
			<div class="col-xs-8">
				<h3>{{eventItem.date}} в {{eventItem.time}}</h3>
				<h4><a ui-sref="areaList.item({areaId: area.id})">{{area.title}}</a></h4>

				<a ui-sref="ticketChoose({schemeID: eventItem.schemeID})" class="btn btn-primary">Купить</a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p>{{eventItem.desc}}</p>
			</div>			
		</div>
	</div>	
</div>

