<h1>Оформление заказа</h1>

<form action="">

	<h3>{{eventInfo.title}}</h3>

	<p>{{eventInfo.areaTitle}}</p>
	<p>{{eventInfo.date}} в {{eventInfo.time}}</p>

	<h4>Заказанные билеты</h4>
	<table class="table">
		<tr>
			<th>№</th>
			<th>Сектор</th>
			<th>Ряд</th>
			<th>Место</th>
			<th>Цена</th>
		</tr>
		<tr ng-repeat="ticket in offerItems">
			<td>{{$index + 1}}</td>
			<td>{{ticket.section}}</td>
			<td>{{ticket.row}}</td>
			<td>{{ticket.placeNumber}}</td>
			<td>{{ticket.cost}} руб.</td>
		</tr>
	</table>
	<p class="lead">Стоимость билетов: {{offerGetTotal()}} руб.</p>

	<h4>Бронирование, оплата и доставка билетов</h4>
	<div class="radio">
        <label><input type="radio" name="order-type" ng-model="delivery.type" value="1">Забронировать и выкупить билеты в точке продаж</label>
  	</div>
  	<div class="radio">
        <label><input type="radio" name="order-type" ng-model="delivery.type" value="2">Забронировать и заказать доставку билетов</label>
  	</div>
  	<div class="radio">
        <label><input type="radio" name="order-type" ng-model="delivery.type" value="3">Оплатить on-line и забрать билеты в точке продаж</label>
  	</div>
  	<div class="radio">
        <label><input type="radio" name="order-type" ng-model="delivery.type" value="4">Оплатить on-line и заказать доставку билетов</label>
  	</div>
	<div ng-show="delivery.type == 2 || delivery.type == 4" class="form-group">
		<label class="control-label" for="delivery-address">Адрес доставки:</label>
		<textarea id="delivery-address" class="form-control" rows="2"></textarea>
	</div>

	<h4>Комментарий к заказу</h4>
	<div class="form-group">
		<textarea class="form-control" rows="2"></textarea>
	</div>	
	
	<input type="submit" class="btn btn-primary" value="Оформить заказ">

</form>
