<h1>{{eventInfo.title}}</h1>
<h4>{{eventInfo.areaTitle}}</h4>
<p>{{eventInfo.date}} в {{eventInfo.time}}</p>

<a ui-sref="ticketChoose.ticketOffer" class="btn btn-primary" ng-click="buyClick($event)" ng-disabled="!checkedCount">Оформить заказ</a>

<svg ng-if="scheme" class="event-scheme" width="{{scheme.areaW}}" height="{{scheme.areaH}}" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<polygon ng-click="checkPlace($index)" class="event-scheme__place" ng-repeat="place in scheme.places" ng-if="place.busy == false" ng-class="{'_checked': place.checked}" points="{{place.coords}}" fill="{{place.fill}}" kh:id="{{place.placeID}}" title="Ряд {{place.row}} Место {{place.placeNumber}} Стоимость: {{place.cost | currency:'':0}}р."/> 
	<polygon class="event-scheme__place _busy" ng-repeat="place in scheme.places" ng-if="place.busy == true" points="{{place.coords}}" kh:id="{{place.placeID}}" title="Место занято"/>

	<text ng-repeat="placeNum in scheme.placeNumbers" x="{{placeNum.coordX}}" y="{{placeNum.coordY}}" class="event-scheme__place-num">{{placeNum.text}}</text>
	<text ng-repeat="label in scheme.labels" x="{{label.coordX}}" y="{{label.coordY}}" class="event-scheme__place-label">{{label.text}}</text>
</svg>