<div class="row">
	<div class="col-xs-3 text-center">
		<div class="group-item-logo">
			<img ng-src="{{groupItem.img}}" alt="{{groupItem.name}}">
		</div>		

		<p ng-if="groupItem.comission != null">Коммисия: {{groupItem.comission}}%</p>
		<p ng-if="groupItem.comission == null">Без комиссии</p>
	</div>
	<div class="col-xs-9">
		<div class="panel panel-default">
			<div class="panel-body">
				<form ng-submit="">
					<div class="form-group">
						<label for="telephone">Федеральный номер телефона</label>
						<input id="telephone" type="tel" class="form-control" placeholder="+7" required>
					</div>
					<div class="form-group">
						<label for="sum">Сумма платежа</label>
						<input ng-blur="paySum()" ng-model="fillForm.paySum" id="sum" type="text" class="form-control" placeholder="0.00" required>
					</div>
					<div class="form-group">
						<label for="comsum">Итого с учетом комиссии</label>
						<input ng-blur="comSum()" ng-model="fillForm.comSum" id="comsum" type="text" class="form-control" placeholder="0.00" required>
					</div>
					<div class="form-group">
						<input type="submit" value="Далее →" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>		
	</div>
</div>