<h1>Платеж</h1>

<div class="form-group">
	<a ui-sref="groups.items" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> Назад к списку операторов</a>
</div>

<div ui-view="payment"></div>